<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Connects.Profiles.Service.ServiceContracts.ProfileServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Connects.Profiles.Service.ServiceContracts.ProfileServiceBehavior" name="Connects.Profiles.Service.ServiceContracts.ProfileServiceImp">
                <endpoint address="" binding="wsHttpBinding" contract="Connects.Profiles.Service.ServiceContracts.IProfileService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/Connects.Profiles.Service.ServiceContracts/ProfileService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
