body
{
    font-family:Tahoma;
    font-size:11px
}
.shadowPanel
{
    margin-left:auto;
    margin-right:auto
}
.shadowPanel .top,
.shadowPanel .bottom,
.shadowPanel .top div,
.shadowPanel .bottom div
{
    height:20px;
    font-size:0px
}
.shadowPanel .top,
.shadowPanel .bottom
{
    height:20px;
    background-repeat:repeat-x
}
.shadowPanel .left,
.shadowPanel .right
{
    width:20px;
    background-repeat:repeat-y
}
.shadowPanel .left,
.shadowPanel .middle .center
{
    float:left;
    background-position:left
}
.shadowPanel .right
{
    float:right;
    background-position:right
}
.shadowPanel .top .left
{
    background-image:url('../Images/ShadowPanelLeftTopCorner.gif')
}
.shadowPanel .top .right
{
    background-image:url('../Images/ShadowPanelRightTopCorner.gif')
}
.shadowPanel .bottom .left
{
    background-image:url('../Images/ShadowPanelLeftBottomCorner.gif')
}
.shadowPanel .bottom .right
{
    background-image:url('../Images/ShadowPanelRightBottomCorner.gif')
}
.shadowPanel .top
{
    background-position:top;
    background-image:url('../Images/ShadowPanelTopBorder.gif')
}
.shadowPanel .bottom
{
    background-position:bottom;
    background-image:url('../Images/ShadowPanelBottomBorder.gif')
}
.shadowPanel .middle .left
{
    background-image:url('../Images/ShadowPanelLeftBorder.gif')
}
.shadowPanel .middle .right
{
    background-image:url('../Images/ShadowPanelRightBorder.gif');
    float:left
}
.shadowPanel td
{
    float:none !important
}
.login th
{
    text-align:right;
    font-size:12px
}
.login td input
{
    width:150px
}
.ErrorField,
.RequiredField
{
    color:red
}
.SuccessField
{
    color:green;
    display:block;
    text-align:center;
    font-weight:bold;
    padding:5px
}
input.button
{
    width:auto
}
.button:hover
{
    filter:alpha(opacity=75);
    -moz-opacity:0.75;
    -khtml-opacity:0.75;
    opacity:0.75;
}
h1.title
{
    font-family:Times New Roman;
    font-size:16px;
    font-weight:bold;
    color:midnightblue;
    padding:0px;
    margin:10px 0px;
    text-align:center
}
.tabs
{
    background-image:url('../images/tab.gif');
    border-bottom:1px solid #948d94;
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    border-right:1px solid #999999;
    font-family:Arial;
    font-size:12px;
    height:19px
}
.tabs a
{
    color:black;
    text-decoration:none
}
.tabs a:hover
{
    text-decoration:underline
}
.leftTabs td
{
    padding:0px 11px 0px 5px;
    background:url('../images/separator.gif') right no-repeat;
    height:18px
}
.rightTabs td
{
    padding:0px 5px 0px 11px;
    background:url('../images/separator.gif') left no-repeat;
    height:18px
}
.tabs th
{
    padding:0px 5px;
    font-weight:normal
}
.fieldset
{
    width:764px;
    margin:10px auto 0px
}
.fieldset .top
{
    height:24px;
    background-image:url('../images/fieldsetTopBorder.png')
}
.fieldset .top div
{
    height:24px;
    background:url('../images/fieldsetTopRightCorner.png') right no-repeat
}
.fieldset .top div div
{
    background:url('../images/fieldsetTabLeftCorner.png') left no-repeat;
    padding-left:25px
}
.fieldset .top div div table
{
    height:24px;
    background-image:url('../images/fieldsetTabBack.png')
}
.fieldset .top div div table th
{
    padding-right:15px;
    background:url('../images/fieldsetTabRightCorner.png') right no-repeat;
    font-family:Arial;
    color:midnightblue;
    font-size:12px
}
.fieldset .middle
{
    background:url('../images/fieldsetLeftBorder.gif') left repeat-y
}
.fieldset .middle .right
{
    background:url('../images/fieldsetRightBorder.gif') right repeat-y;
    padding:20px 24px;
    width:auto;
    float:none
}
.fieldset .bottom
{
    height:5px;
    background-image:url('../images/fieldsetBottomBorder.png')
}
.fieldset .bottom div
{
    height:5px;
    background:url('../images/fieldsetBottomLeftCorner.png') left no-repeat
}
.fieldset .bottom div div
{
    background:url('../images/fieldsetBottomRightCorner.png') right no-repeat
}
legend
{
    font-family:Tahoma;
    font-size:14px;
    color:gray;
    font-weight:bold
}
.results
{
    border:1px solid #ccc;
    border-collapse:collapse
}
.results th
{
    border:1px solid #ccc;
    background:#eee;
    padding:5px
}
.results td
{
    border:1px solid #ccc;
    padding:5px
}
.vertical th
{
    text-align:right;
    color:midnightblue;
    font-weight:normal;
    padding:2px 5px
}
.vertical td
{
    padding:2px
}
.edit th
{
    text-align:right
}
.edit .edit input,
.edit textarea
{
    width:150px
}
.SelectedRow
{
    background-color:Silver
}
.password td
{
    padding:2px
}
.passLabel
{
    font-weight:bold;
    text-align:right
}
.passTit
{
    display:none
}
.passSuc
{
    font-weight:bold;
    color:Green
}