div#main {
	  margin-left: auto;
	  margin-right: auto;
	  width: 967px;
}

/* Header styles */
#header
{
	clear: both;
	float: left;
	margin: 0px 0px;
	min-width: 967px;
	width: 967px; /* choose either to set the width or set to auto for a flow layout */
	margin: 0 auto;	
}
#header p, #header h1, #header h2
{
	padding: .4em 15px 0 15px;
	margin: 0;
}
#header ul
{
	clear: left;
	float: left;
	width: 100%;
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
}
#header ul li
{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
#header ul li a
{
	display: block;
	float: left;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	text-align: center;
	background: #eee;
	color: #000;
	text-decoration: none;
	position: relative;
	left: 15px;
	line-height: 1.3em;
}
#header ul li a:hover
{
	background: #369;
	color: #fff;
}
#header ul li a.active, #header ul li a.active:hover
{
	color: #fff;
	background: #000;
	font-weight: bold;
}
#header ul li a span
{
	display: block;
}
/* 'widths' sub menu */

/* column container */
.colmask
{
	position: relative; /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear: both;
	float: left;
	width: 967px; /* width of whole page 967*/
	overflow: hidden; /* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail
{
	/*background:#F9F9F9;    	 Right column background colour */ /*background-image:url(../images/calloutBack.gif); 		background-repeat:no-repeat;  	*/
	/*border-right: solid 1px #cccccc;*/
	/*background-color: #BD2F3C;*/
	background-image: url(../images/passive_back.gif);
	margin:4px 0 0 0;
}
.holygrail .colmid
{
	float: left;
	width: 200%;
	margin-left: -152px; /* Width of right column */
	position: relative;
	right: 100%;
	xbackground: #fff; /* Centre column background colour border: solid 1px #cccccc;*/
	min-height: 460px;
}
.holygrail .colleft
{
	float: left;
	width: 100%;
	margin-left: -50%;
	position: relative;
	left: 334px; /* Left column width + right column width */ /*background:#FFD8B7;    	 Left column background colour */
	/*border: solid 1px #cccccc;*/
}
/* Login Screen */
.loginPanel
{
	margin-left: 250px;
	margin-top: 100px;
}
.colleft
{
	top: 0px;
}
.holygrail .col1wrap
{
	float: left;
	width: 50%;
	position: relative;
	right: 182px; /* Width of left column */
	padding-bottom: 0px; /* Centre column bottom padding. Leave it out if it's zero */
	padding-left: 0px;
	/*text-indent: 8px; */
}
.holygrail .col1
{
	margin: 0 191px; /* Centre column side padding:                             	Left padding = left column width + centre column left padding width                             	Right padding = right column width + centre column right padding width */
	position: relative;
	left: 200%;
	overflow: auto;
	padding-bottom: 24px;
	padding-right: 4px;
	padding-left: 8px;
	width: 609px;
	top: 12px;
	overflow: visible;
}
.holygrail .col1IE
{
	margin: 0 191px; /* Centre column side padding:                             	Left padding = left column width + centre column left padding width                             	Right padding = right column width + centre column right padding width */
	position: relative;
	left: 193%;
	overflow: auto;
	padding-bottom: 24px;
	padding-right: 4px;
	padding-left: 8px;
	width: 609px;
	top: 12px;
	overflow: visible;
}
.holygrail .col2
{
	float: left;
	float: right; /* This overrides the float:left above */
	width: 182px; /* Width of left column content (left column width minus left and right padding) */
	position: relative;
	right: 0px; /* Width of the left-had side padding on the left column */ /*background-image:url(../images/sidebarBack.gif); 		background-repeat:no-repeat;	    */
}
.col3
{
	float: left;
	float: right; /* This overrides the float:left above */
	width: 150px; /* Width of right column content (right column width minus left and right padding) */
	margin-right: 1px; /* Width of right column right-hand padding + left column left and right padding */
	margin-bottom: 18px;
	position: relative;
	left: 50%;
	top:12px;
	padding-top:7px;
}
.col13top 
{
	position:absolute;
	left:190px;
	background-color: #000;
	background-image: url(../images/passive_top.gif);
	background-repeat: no-repeat;
	width:777px;
	height:12px;
	overflow:hidden;
}
.col13topSpace 
{
	width:625px;
	height:12px;
	overflow:hidden;
	border-right:1px solid #FFF;
}
.col3topPad 
{
	width:150px;
	height:500px;
	overflow:hidden;
	display:none;
}
/* Footer styles */
#divFooter
{
	clear: both;
	float: left;
	width: 967px;
	xborder-top: 1px solid #000;
}
#divFooter p
{
	padding: 10px;
	margin: 0;
}


.bl {background: url(../images/bl.gif) 0 100% no-repeat #BD2F3C;}
.br {background: url(../images/br.gif) 100% 100% no-repeat}
.tl {background: url(../images/tl.gif) 0 0 no-repeat}
.tr {background: url(../images/tr.gif) 100% 0 no-repeat; padding: 1px 0px 1px 0px; vertical-align: middle;}
.clear {font-size: 1px; height: 1px} 

.activeTop 
{
	background-color: #BD2F3C;
	background-image: url(../images/active_top.gif);
	background-repeat: no-repeat;
	width:182px;
	height:12px;
	overflow:hidden;
}
.activeMainWrapper 
{
	background-image: url(../images/active_right.gif);
	width:182px;
	margin:0px;	
	padding:0px 1px;
}
.activeMain 
{
	width:174px;
	margin:0px;
	padding:0px;
}
.activeBottom 
{
	background-color: #BD2F3C;
	background-image: url(../images/active_bottom.gif);
	background-repeat: no-repeat;
	width:182px;
	height:27px;
	overflow:hidden;
}


#ctsc_footer {
	margin-top:0px;
}

.main_container_bottom {
	background-color:#000000;
	background-image:url('../images/passive_bottom.gif');
	margin:0px 0px 0px 190px;
	width:777px;
	height:18px;
	overflow:hidden;
	padding:0px;
}

body #page-container {
	font-family:Arial,Helvetica,sans-serif;
	line-height:1.231;
	margin:0 auto;
	width:967px;
}
